.htaccess
.qidb
.quarantine
.tmb
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-traackback.php
xmlrpc.php
wp-admin/
wp-content/plugins/
wp-content/themes/twentyfifteen/
wp-content/themes/twentyfourteen/
wp-content/themes/twentysixteen/
wp-content/themes/TRICERTP.rar
wp-content/TRASH/
wp-includes/
TRASH/